<div class="container-info">

  <div id="synopsis" class="container-switcher">
    <h1>Synopsis</h1>
    <%- include('./synopsis.ejs') %>
  </div>

  <div id="trailer" class="container-switcher">
    <h1>Trailer</h1>
    <%- include('./movieTrailer.ejs') %>
  </div>

  <div id="recommended" class="container-switcher">
    <h1>Recommended</h1>
    <%- include('./carousel.ejs') %>
  </div>

  <div id="casting" class="container-switcher">
    <h1>Casting</h1>
    <%- include('./carousel-actor.ejs') %>
  </div>

  <div class="button">
    <button id="next" class="btn">Next Section</button>
  </div>
</div>

