<div class="login">
    <form id="form_login" action="/login" method="POST">
        <label class="text_title">Log in</label><br><br>
      <div class="login-info">
        <label class="text_login">Email Adress</label><br>
        <input class="input_login" required name="email" type="email" id="email" placeholder="correo@correo.com"><br>
        <label class="text_login">Password</label><br>
        <input class="input_login" required name="password" type="password" id="password" placeholder="***********" autocomplete="off"><br>
        <button class="btn-login" type="submit">Log in</button>
      </div>
    </form>
  </div>
  <div class="extra_login">
    <button class="btn-singup" id="register">Sing up</button>
  </div>
