<div class="container-synopsis">
    <p>
        <%= detalle.overview %>
    </p>

</div>

<style>
    .container-synopsis p {
        color:#fff;
        padding: 50px;
        font-size: 25px;
        justify-content: center;
    }
</style>